.content{
    
    height:72vh;
    width:80vw;
    background-color: #fff;
    margin:auto;
    margin-top:2rem;
    border-radius:20px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    position: absolute;
    top:115px;
    left:135px;
   
}
.features{
   background-color:#f4f5f7;
   border-left:3px solid blueviolet;
   color:blueviolet;
}
.list-search{
    margin-bottom: 1rem;
}
.cross{
    float:right;
    margin:0.5rem 1rem 0 0;
    font-size:1.5rem;
    color:#747474;
 
}
.toggleBtn
{
float:right;
 margin-right:15rem;
 color:rgb(33, 235, 141);
 font-size: 1.5rem;
}

.LeftSetting{
float:left;
width:20%;


}
h3{
    color:black;
}
p{
 color:#747474;
 font-size: 15px;
 padding:1px;

}
ul{
    list-style-type: none;
    color:#747474;

}
.RightSetting{
float: right;
width:80%;
border-left:1px solid rgba(0,0,0,.125)k;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
border-radius:5px;
}
.right-heading{
    margin:1rem;
    color:blueviolet;
}
button{
    padding:3px 10px 3px 10px;
    margin:3px;
    border-radius: 5px;
    color:blueviolet;
    background-color: #fff;
    border:2px solid blueviolet;
}
.thirdbut{
    border:2px solid blueviolet;
    color:white;
    background-color: blueviolet;
}
@media(max-width:300px){
    .LeftSetting{
        width:100%;
    }
    .RightSetting{
        width:100%;
    }
}