*{
    margin:0px;
    
}
.body{
    background-color: rgb(218, 216, 216);
    height:100vh;
}
.navmid{  
  background-color: #fff;
  width:100vw;  
  height:7rem;
  margin:auto;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.list{
    list-style-type: none;
    color:black;
    padding-top: 2rem;
    }
.midlist .text{
    font-size: 30px;
    margin-left:5rem;
}    
.text{
    font-size: 20px;
}
.content{
    
    height:73vh;
    width:80vw;
    background-color: #fff;
    margin:auto;
    margin-top:2rem;
    border-radius:20px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
   
}